body {
	background-color: white;
	color: rgb(123, 125, 92);

	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#wrapper {
	background-color: rgba(145, 107, 211, .5);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	min-height: 100%;

	border-radius: 10px;
}

h1 {
	text-align: center;
}

p, li {
	color: black;
}

pre {
	background-color: black;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

span {
	padding-left: 4px;
	padding-right: 4px;
}
